@import url('viewer.css');
@import url('search.css');

.ph-scroll-container {
  position: relative;
}

.ph-scroll-container > * {
  overflow-y: auto;
  position: absolute;
  inset: 0 0.75rem;
  width: auto;
}

.ph-line-legend {
  display: inline-block;
  border: 3px solid transparent;
  margin-bottom: 2px;
  width: 2rem;
}
