/* stylelint-disable selector-class-pattern */
table.dataTable.table-bordered > thead > tr > th {
  background-color: #b6dbe2;
}

.dataTables_wrapper {
  clear: both;
}

table.dataTable tr.dt-hasChild td {
  border-bottom: none!important;
}

table.table-bordered.dataTable table.table-bordered:not(.dataTable) td {
  /* dataTable doesn't cancel it's styles for sub-tables */
  border-left-width: 1px;
}
/* stylelint-enable selector-class-pattern */

.pagination {
  --bs-pagination-active-bg: var(--bs-info);
  --bs-pagination-active-color: #000;
  --bs-pagination-active-border-color: var(--bs-info);
  --bs-pagination-color: #09a4c3;
  --bs-pagination-hover-color: #09a4c3;
}
