# NB: .dockerignore & .gitignore are symlinked: Any entries here will ignore both

# venv
/pyvenv.cfg
/bin
/lib
/lib64
/share
/include

# Django setup
/db.sqlite3
/manage.py
/*/settings/local.py
/staticfiles

# Node
/node_modules
/client/dist/

# User content
/db/
/media/
/ingest_root/

# Docker
/docker/.env
