# https://docs.djangoproject.com/en/4.1/releases/#id2
django==4.2
psycopg2-binary==2.9.11

django-settings-export==1.2.1

django-crispy-forms==2.0
crispy-bootstrap5==0.7

django-storages==1.14.1
django-storages[s3]==1.14.1

django-ses==4.7.2

pillow==10.4.0

gunicorn==21.2.0

sphinx==7.2.6
sphinx-intl==2.1.0
