{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Image Ingest" %}{% endblock title %}
{% block contentclass %}container-fluid d-flex flex-column{% endblock contentclass %}
{% block pre_content %}

<div class="ph-ingest-select-bar d-flex flex-wrap border-bottom justify-content-center px-sm-5 py-3" style="background: #eee">
  <label for="image-source-select" class="col-form-label">{% translate "Choose an image source:" %}</label>
  <div class="flex-grow-1 mx-5">
    <select id="image-source-select" class="form-select" data-sync-form="form.ingest-form">
      <option value="" selected>{% translate "Choose..." %}</option>
      {% for s in image_sources %}
        <option value="{{ s.name }}">{{ s.description }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="">
    <button data-action="next" class="btn ml-2" style="background-color: #ccc">{% translate "Next Image" %} &gt;</button>
  </div>
</div>

{% endblock pre_content %}
{% block content %}

  <div class="ph-viewer ph-cropper mb-2" data-sync-form="form.ingest-form">{% include "../snippet/viewer.html" %}</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation"><button class="nav-link" id="help-tab" data-bs-toggle="tab" data-bs-target="#help-tab-pane" type="button" role="tab" aria-controls="help-tab-pane" aria-selected="true">
    {% translate 'Help' %}
  </button></li>
  <li class="nav-item" role="presentation"><button class="nav-link active" id="ingest-tab" data-bs-toggle="tab" data-bs-target="#ingest-tab-pane" type="button" role="tab" aria-controls="ingest-tab-pane" aria-selected="true">
    {% translate 'Ingest' %}
  </button></li>
  <li class="nav-item flex-fill" role="presentation"><button class="nav-link float-end" id="minimise-tab" data-bs-toggle="tab" data-bs-target="#minimise-tab-pane" type="button" role="tab" aria-controls="minimise-tab-pane" aria-selected="true" title="{% translate 'Maximise annotation view' %}">
    <!-- https://icons.getbootstrap.com/icons/arrows-fullscreen/ -->
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16" style="position: relative; top: -2px">
      <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
    </svg>
  </button></li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="help-tab-pane" role="tabpanel" aria-labelledby="help-tab" tabindex="0">
    <p>
      {% translate "First, select an import option using the grey bar at the top." %}
      {% translate "Then enter the sample ID and species number (f.ex. <kbd>542871 1</kbd> for species no. 1). Press <kbd>enter</kbd>." %}
      {% translate "After loading, a box for each individual will appear on the page grid." %}
      {% translate "Position each over the relevant individual, the scale line over the scale and press <kbd>Save</kbd>. It is important that the scale line is correctly set so that measurements on the otoliths are correct." %}
      {% translate "You can:" %}
    </p>
    <ul>
      <li>{% translate "Zoom in/out by pinching or scrolling the mouse" %}</li>
      <li>{% translate "Adjust image contrast or download using the magic wand menu, increasing brightness to view slide notes, e.g." %}</li>
      <li>{% translate "View individual details by clicking on the relevant box" %}</li>
      <li>{% translate "Drag individual boxes or resize them by clicking on one and dragging it's corners" %}</li>
      <li>{% translate "Select many boxes with <kbd>Ctrl</kbd>-drag, they then can be resized as a group" %}</li>
      <li>{% translate "Discard an individual by dragging it outside the image, which will stop it being uploaded" %}</li>
    </ul>
  </div>

  <div class="tab-pane show active" id="ingest-tab-pane" role="tabpanel" aria-labelledby="ingest-tab" tabindex="0">

  <form class="ingest-form mt-2" data-locale-warnexisting="{% translate 'There are already %d individuals uploaded with this label' %}">
    {% csrf_token %}
    <input type="hidden" name="selection" value="" />
    <input type="hidden" name="image_file" >
    <input type="hidden" name="image_content" >
    <!-- Enter in sample box shoudn't submit form, give it a disabled button to play with -->
    <button type="submit" disabled style="display: none" aria-hidden="true"></button>
    <div class="row">
      <fieldset class="col" disabled>
        <div class="mb-3 row">
          <input type="hidden" name="scale_line" value="" />
          <label for="scale_mm-input" class="col-form-label col-sm-3">{% translate "Scale length (mm)" %}</label>
          <div class="col">
            <input type="number" name="scale_mm" class="form-control" id="scale_mm-input" value="2" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="slide-label-input" class="col-form-label col-sm-3">{% translate "Label:Individual" %}</label>
          <div class="col input-group">
            <input type="text" name="slide-label" class="form-control" id="slide-label-input" />
            <span class="input-group-text">:</span>
            <select name="individual" class="form-select flex-grow-0" style="width: 5rem"></select>
          </div>
        </div>
        <div class="col" style="text-align: right;">
          <input type="submit" name="save" value="{% translate 'Save' %}" class="btn btn-success" disabled="disabled">
        </div>
      </fieldset>
      <div class="col ph-scroll-container">
        <div>
          <div class="label_help"><h5>Label formats</h5><ul></ul></div>
          <div class="individuals"></div>
          <table class="table table-striped individual-data d-none">
            <thead><tr><th>{% translate "Key" %}</th><th>{% translate "Value" %}</th></tr></thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
    </div>
  </form>
</div>

{% endblock content %}
