{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Image Ingest" %}{% endblock title %}
{% block contentclass %}container-fluid{% endblock contentclass %}
{% block pre_content %}

<div class="ph-ingest-select d-flex flex-wrap align-items-center justify-content-center py-3 border-bottom" style="background: #eee"
     data-viewer="#image-viewer">
  <label for="image-source-select" class="col-sm-4 col-form-label">Drag+drop or choose an image source:</label>
  <div class="col-sm-5">
  <select id="image-source-select" class="form-select">
    <option value="" selected>{% translate "Choose..." %}</option>
    {% for s in image_sources %}
      <option value="{{ s.name }}">{{ s.description }}</option>
    {% endfor %}
  </select></div>
</div>

{% endblock pre_content %}
{% block content %}

  <div class="ph-viewer ph-cropper" id="image-viewer"></div>

{% endblock content %}
