{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Image Ingest" %}{% endblock title %}
{% block contentclass %}container-fluid{% endblock contentclass %}
{% block pre_content %}

<div class="ph-ingest-select-bar d-flex flex-wrap border-bottom justify-content-center px-sm-5 py-3" style="background: #eee">
  <label for="image-source-select" class="col-form-label">{% translate "Choose an image source:" %}</label>
  <div class="flex-grow-1 mx-5">
    <select id="image-source-select" class="form-select" data-sync-form="form.ingest-form">
      <option value="" selected>{% translate "Choose..." %}</option>
      {% for s in image_sources %}
        <option value="{{ s.name }}">{{ s.description }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="">
    <button data-action="next" class="btn ml-2" style="background-color: #ccc">{% translate "Next Image" %} &gt;</button>
  </div>
</div>

{% endblock pre_content %}
{% block content %}

  <div class="ph-viewer ph-cropper" data-sync-form="form.ingest-form">{% include "../snippet/viewer.html" %}</div>

  <form class="ingest-form mt-2">
    {% csrf_token %}
    <input type="hidden" name="selection" value="" />
    <input type="hidden" name="image_file" >
    <input type="hidden" name="image_href" >
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="scale-input" class="form-label">{% translate "Scale length (mm)" %}</label>
          <input type="number" name="scale" class="form-control" id="scale-input" value="10" />
        </div>
        <div class="mb-3">
          <label for="sample-input" class="form-label">{% translate "Sample ID" %}</label>
          <input type="text" name="sample" class="form-control" id="sample-input" />
        </div>
        <div class="col" style="text-align: right;">
          <input type="submit" name="save" value="{% translate 'Save' %}" class="btn btn-success" disabled="disabled">
        </div>
      </div>
      <div class="col" style="position: relative;">
        <div style="overflow-y: scroll; position: absolute; top: 0; right: 0.75rem; bottom: 0; left: 0.75rem; width: auto">
          <input type="hidden" name="scale_line" value="" />
          <div class="individuals"></div>
          <table class="table table-striped individual-data" style="">
            <thead><tr><th>{% translate "Key" %}</th><th>{% translate "Value" %}</th></tr></thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
    </div>
  </form>

{% endblock content %}
