{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load verbose_name %}
{% block title %}{% translate "Annotate Individual" %}{% endblock title %}
{% block contentclass %}container-fluid{% endblock contentclass %}

{% block pre_content %}
{{ ind_dict|json_script:"individual_json" }}
{% endblock pre_content %}

{% block content %}

<div class="ph-viewer ph-annotate mb-2" data-sync-form="form.annotate-form">{% include "../snippet/viewer.html" %}</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation"><button class="nav-link" id="metadata-tab" data-bs-toggle="tab" data-bs-target="#metadata-tab-pane" type="button" role="tab" aria-controls="metadata-tab-pane" aria-selected="true">
    {% translate 'Individual Metadata' %}
  </button></li>
  <li class="nav-item" role="presentation"><button class="nav-link" id="existing-tab" data-bs-toggle="tab" data-bs-target="#existing-tab-pane" type="button" role="tab" aria-controls="existing-tab-pane" aria-selected="true">
    {% translate 'Existing Annotations' %}
  </button></li>
  <li class="nav-item" role="presentation"><button class="nav-link active" id="editor-tab" data-bs-toggle="tab" data-bs-target="#editor-tab-pane" type="button" role="tab" aria-controls="editor-tab-pane" aria-selected="true">
    {% translate 'Annotate' %}
  </button></li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="metadata-tab-pane" role="tabpanel" aria-labelledby="metadata-tab" tabindex="0">

    <table class="table table-striped individual-data" style="">
      <thead><tr><th>{% translate "Key" %}</th><th>{% translate "Value" %}</th></tr></thead>
      <tbody></tbody>
    </table>

  </div>
  <div class="tab-pane" id="existing-tab-pane" role="tabpanel" aria-labelledby="existing-tab" tabindex="0">

    <div class="ph-all-annotations">
      <table class="table table-striped" style="">
        <thead><tr>
          <th class="text-nowrap">{{ Annotation|verbose_name:"created_at" }}</th>
          <th class="text-nowrap">{{ Annotation|verbose_name:"created_by" }}</th>
          <th class="text-nowrap">{{ Annotation|verbose_name:"age" }}</th>
          <th class="text-nowrap">{{ Annotation|verbose_name:"rating" }}</th>
          <th class="text-nowrap">{{ Annotation|verbose_name:"comment" }}</th>
        </tr></thead>
        <tbody>{% for a in all_annotations %}
          <tr role="button" class="{% if forloop.first %}table-info{% endif %}">
            <script class="bisect_poly" type="application/json">{{ a.bisect_poly }}</script></td>
            <td class="text-nowrap"><code>{{ a.created_at }}</code></td>
            <td class="text-nowrap"><code>{{ a.created_by }}</code></td>
            <td class="text-nowrap"><code>{{ a.age }}</code></td>
            <td class="text-nowrap"><code>{{ a.rating }}</code></td>
            <td width="100%"><code>{{ a.comment }}</code></td>
          </tr>
        {% endfor %}</tbody>
      </table>
      {% if annotation_id is None %}
        <button class="btn btn-info btn-block ph-copy-full">{% translate 'Copy full annotation' %}</button>
        <button class="btn btn-info btn-block ph-copy-line">{% translate 'Copy line only' %}</button>
      {% endif %}
    </div>

  </div>
  <div class="tab-pane show active" id="editor-tab-pane" role="tabpanel" aria-labelledby="editor-tab" tabindex="0">

    <form action="{{ request.path }}" method="POST" class="annotate-form mt-2 row">
      {% csrf_token %}
      <input type="hidden" name="selection" value="" />
      <div class="col">

        {% if form.errors %}
          <div class="mb-3 alert alert-danger">
            {{form.errors}}
          </div>
        {% endif %}
        <div class="mb-3">
          {{ form.age|as_crispy_field }}
        </div>
        <div class="mb-3">
          {{ form.rating|as_crispy_field }}
        </div>
        <div class="mb-3">
          {{ form.comment|as_crispy_field }}
        </div>
        <div class="col" style="text-align: right;">
          <input type="submit" name="save" value="{% translate 'Save' %}" class="btn btn-success">
        </div>

      </div>
      <div class="col">

        {{ form.bisect_poly|as_crispy_field }}
        <table id="bisect_poly_table" class="table table-striped point-data" style="">
          <thead><tr>
            <th>{% translate "Point" %}</th>
            <th>{% translate "Distance (mm)" %}</th>
            <th>{% translate "Cumulative (mm)" %}</th>
          </tr></thead>
          <tbody></tbody>
        </table>

      </div>
    </form>

  </div>
</div>
{% endblock content %}
