{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}
{% load verbose_name %}
{% block title %}{% translate "Annotate Individual" %}{% endblock title %}
{% block contentclass %}container-fluid d-flex flex-column{% endblock contentclass %}

{% block pre_content %}

<div class="ph-annotate-select-bar d-flex flex-wrap border-bottom justify-content-center px-sm-5 py-3" style="background: #eee">
  <div class="">
    <button data-action="prev" class="btn ml-2" style="background-color: #ccc">&lt; {% translate "Previous" %}</button>
  </div>
  <div class="flex-grow-1 mx-5">
    <select class="form-select" data-sync-form="form.ingest-form">
      {% comment %}NB: disabled so we don't flash this item before JS has populated{% endcomment %}
      {% if 'project' in request.GET %}
        <option value="/project/" disabled>{% translate "Return to project list" %}</option>
      {% else %}
        <option value="/search/?{{ request.GET.urlencode }}" disabled>{% translate "Return to search" %}</option>
      {% endif %}
    </select>
  </div>
  <div class="">
    <button data-action="next" class="btn ml-2" style="background-color: #ccc">{% translate "Next" %} &gt;</button>
  </div>
</div>

{% endblock pre_content %}

{% block content %}

{% if ind_data.id %}

{{ ind_data|json_script:"ind_data" }}

<div class="ph-viewer ph-annotate mb-2" data-src="{{ ind_data.image__content__url }}" data-bounding-box="{{ ind_data.bounding_box }}" data-sync-form="form.annotate-form">
  {% include "../snippet/viewer.html" %}
  <div class="scale d-none" data-mm-to-px="{{ ind_data.image__mm_to_px|unlocalize }}"><div class="inner"><span>0.1mm</span></div></div>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation"><button class="nav-link" id="help-tab" data-bs-toggle="tab" data-bs-target="#help-tab-pane" type="button" role="tab" aria-controls="help-tab-pane" aria-selected="true">
    {% translate 'Help' %}
  </button></li>
  <li class="nav-item" role="presentation"><button class="nav-link" id="metadata-tab" data-bs-toggle="tab" data-bs-target="#metadata-tab-pane" type="button" role="tab" aria-controls="metadata-tab-pane" aria-selected="true">
    {% translate 'Individual Metadata' %}
  </button></li>
  <li class="nav-item" role="presentation"><button class="nav-link {% if default_tab == 'existing' %}active{% endif %}" id="existing-tab" data-bs-toggle="tab" data-bs-target="#existing-tab-pane" type="button" role="tab" aria-controls="existing-tab-pane" aria-selected="true">
    {% translate 'Existing Annotations' %}
  </button></li>
  {% if not read_only %}{% comment %}NB: Keep form tab, so we can use it to sync viewer, just remove link to switch there{% endcomment %}
  <li class="nav-item" role="presentation"><button class="nav-link {% if default_tab == 'editor' %}active{% endif %}" id="editor-tab" data-bs-toggle="tab" data-bs-target="#editor-tab-pane" type="button" role="tab" aria-controls="editor-tab-pane" aria-selected="true">
    {% translate 'Annotate' %}
  </button></li>
  {% endif %}
  <li class="nav-item flex-fill" role="presentation"><button class="nav-link float-end" id="minimise-tab" data-bs-toggle="tab" data-bs-target="#minimise-tab-pane" type="button" role="tab" aria-controls="minimise-tab-pane" aria-selected="true" title="{% translate 'Maximise annotation view' %}">
    <!-- https://icons.getbootstrap.com/icons/arrows-fullscreen/ -->
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16" style="position: relative; top: -2px">
      <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
    </svg>
  </button></li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="help-tab-pane" role="tabpanel" aria-labelledby="help-tab" tabindex="0">
    <p>
      {% translate "Annotate by double clicking on the annuli in the image." %}
      {% translate "Then choose an image rating, write comments if needed and press <kbd>Save</kbd> to commit the age reading to the database." %}
      {% translate "You can:" %}
    </p>
    <ul>
      <li>{% translate "Zoom in/out by pinching or scrolling the mouse." %}</li>
      <li>{% translate "Adjust image contrast or download using the magic wand menu, increasing ring detail by decreasing gamma, e.g." %}</li>
      <li>{% translate "There is an axis line that shows up on the image. Drag the start and end points to mark the centre & edge of the otolith." %}</li>
      <li>{% translate "Double-click on the line to add a ring marker, drag a ring marker to move it" %}</li>
      <li>{% translate "Double-click a ring marker to remove" %}</li>
      <li>{% translate "Generally the annotations follow the axis line. If you want to move an annotation away from the line, <kbd>Ctrl</kbd>-drag to move a ring marker freeform. You can also add annuli away from the axis line by holding in <kbd>Ctrl</kbd> and double click where you want the annuli. If you want to freeform add annulis away from the reading axis, you can toggle <kbd>snap to axis</kbd> on/off on the bottom of the annotation tab. " %}</li>
    </ul>
  </div>

  <div class="tab-pane" id="metadata-tab-pane" role="tabpanel" aria-labelledby="metadata-tab" tabindex="0">

    <table class="table table-striped individual-data" style="">
      <thead><tr><th>{% translate "Key" %}</th><th>{% translate "Value" %}</th></tr></thead>
      <tbody></tbody>
    </table>

  </div>
  <div class="tab-pane {% if default_tab == 'existing' %}show active{% endif %}" id="existing-tab-pane" role="tabpanel" aria-labelledby="existing-tab" tabindex="0">

    <div class="ph-all-annotations" data-locale-select-annotation-first="{% translate 'Select an annotation first' %}">
      <table class="table table-striped">
        <thead><tr>
          <th class=""></th>
          <th class="text-nowrap">{{ object_model|verbose_name:"created_at" }}</th>
          <th class="text-nowrap">{{ object_model|verbose_name:"created_by" }}</th>
          <th class="text-nowrap">{{ object_model|verbose_name:"authority" }}</th>
          <th class="text-nowrap">{{ object_model|verbose_name:"age" }}</th>
          <th class="text-nowrap">{{ object_model|verbose_name:"rating" }}</th>
          <th class="text-nowrap">{{ object_model|verbose_name:"comment" }}</th>
        </tr></thead>
        <tbody>{% for a in all_annotations %}
          <tr role="button" class="{% if a.created_by == request.user %}my-annotation{% endif %}" data-annotation-id="{{ a.id }}">
            <td class="text-nowrap">
              <span class="ph-line-legend" data-axis-poly="{{ a.axis_poly }}"></span>
            </td>
            <td class="text-nowrap"><code>{{ a.created_at|date:'SHORT_DATE_FORMAT' }} {{ a.created_at|time:'H:i' }}</code></td>
            <td class="text-nowrap"><code class="val-created_by" data-locale-created_by="{% translate "Created by" %}">{{ a.created_by }}</code></td>
            <td class="text-nowrap"><code class="val-authority" data-value="{{ a.authority }}">{{ a.get_authority_display }}</code></td>
            <td class="text-nowrap text-end"><code class="val-age">{{ a.age }}</code></td>
            <td class="text-nowrap text-end"><code class="val-rating" data-value="{{ a.rating }}">{{ a.get_rating_display }}</code></td>
            <td width="100%"><code class="val-comment">{{ a.comment }}</code></td>
          </tr>
        {% endfor %}</tbody>
      </table>
      {% if object.id is None %}
        <button class="btn btn-info btn-block ph-copy-full">{% translate 'Copy full annotation' %}</button>
        <button class="btn btn-info btn-block ph-copy-line">{% translate 'Copy axis line only' %}</button>
        <button class="btn btn-danger btn-block float-end ph-delete d-none">{% translate 'Delete annotation' %}</button>
      {% endif %}
    </div>

  </div>

  <div class="tab-pane {% if default_tab == 'editor' %}show active{% endif %}" id="editor-tab-pane" role="tabpanel" aria-labelledby="editor-tab" tabindex="0">

    <form action="{{ request.get_full_path }}" method="POST" class="annotate-form mt-2 row" data-px-mm="{{ ind_data.image__px_to_mm|unlocalize }}">
      {% csrf_token %}
      <input type="hidden" name="selection" value="" />
      <div class="existing-annotation-polys"></div>
      <div class="col">

        {% if form.errors %}
          <div class="mb-3 alert alert-danger">
            {{form.errors}}
          </div>
        {% endif %}
        {{ form.individual|as_crispy_field }}
        {{ form.project|as_crispy_field }}
        <div class="mb-3">
          {{ form.age|as_crispy_field }}
        </div>
        <div class="mb-3">
          {{ form.rating|as_crispy_field }}
        </div>
        <div class="mb-3">
          {{ form.authority|as_crispy_field }}
        </div>
        <div class="mb-3">
          {{ form.comment|as_crispy_field }}
        </div>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col">
            <span class="form-check form-switch btn btn-link ms-4" style="color: var(--bs-body-color)">
              <input type="checkbox" class="form-check-input" role="switch" id="ph-viewer-snap-to-axis" autocomplete="off" checked>
              <label for="ph-viewer-snap-to-axis">
                <span class="unchecked" title="{% translate 'Annuli will be added/moved freeform. Pressing Ctrl will add/move along axis' %}">{% translate "Free-form" %}</span>
                <span class="checked" title="{% translate 'Annuli will be added/moved along axis. Pressing Ctrl will add/move freeform' %}">{% translate "Snap to axis" %}</span>
              </label>
              <style>
                #ph-viewer-snap-to-axis + label > * { display: none; }
                #ph-viewer-snap-to-axis:checked + label > .checked { display: block; }
                #ph-viewer-snap-to-axis:not(:checked) + label > .unchecked { display: block; }
              </style>
            </span>

            <input type="submit"
                   name="save"
                   value="{% if project_closed %}{% translate 'Save as general annotation' %}{% else %}{% translate 'Save' %}{% endif %}"
                   class="btn btn-success float-end" />
          </div>
        </div>

      </div>
      <div class="col ph-scroll-container">

        <div>
          {{ form.axis_poly|as_crispy_field }}
          <table id="axis_poly_table" class="table table-striped point-data" style="">
            <thead><tr>
              <th>{% translate "Annuli" %}</th>
              <th>{% translate "Distance between (mm)" %}</th>
              <th>{% translate "Cumulative (mm)" %}</th>
            </tr></thead>
            <tbody></tbody>
          </table>
        </div>

      </div>
    </form>

  </div>
</div>

{% else %}
<div class="text-center container rounded" style="background: #eee">
  <p class="my-4">{% translate "Press <kbd>Next</kbd> to start" %}</p>

  <table class="table w-auto mx-auto">
    <thead><tr>
      <th>{% translate "Individual" %}</th>
      <th>{% translate "Annotations" %}</th>
    </tr></thead>
    <tbody>
      {% for ind in project_progress %}<tr class="{% if ind.num_annotations > 0 %}table-success{% endif %}">
        <td><a href="{% url 'annotate:annotate' ind.id %}?{{ request.GET.urlencode }}">{{ ind }}</a></td>
        <td>{{ ind.num_annotations }}</td>
      </tr>{% endfor %}
    </tbody>

</div>
{% endif %}
{% endblock content %}
