{% comment %}NB: AJAX snippet, so not inheriting from base{% endcomment %}
{% load i18n %}
{% load verbose_name %}
<div class="row">
  <div class="col-5" style="line-height: 0">
    <div class="ph-cropped-viewer" data-src="{{ ind_data.image__content__url }}" data-bounding-box="{{ ind_data.bounding_box }}"></div>
  </div>
  <div class="col-7">
    <table class="table table-bordered" style="">
      <thead><tr class="text-center">
        <th class="text-nowrap">{{ object_model|verbose_name:"created_at" }}</th>
        <th class="text-nowrap">{{ object_model|verbose_name:"created_by" }}</th>
        <th class="text-nowrap">{{ object_model|verbose_name:"authority" }}</th>
        <th class="text-nowrap">{{ object_model|verbose_name:"age" }}</th>
        <th class="text-nowrap">{{ object_model|verbose_name:"rating" }}</th>
        <th class="text-nowrap">{{ object_model|verbose_name:"comment" }}</th>
      </tr></thead>
      <tbody>{% for a in all_annotations %}
        <tr>
          <script class="axis_poly" type="application/json">{{ a.axis_poly }}</script></td>
          <td class="text-nowrap"><code>{{ a.created_at|date:'SHORT_DATE_FORMAT' }} {{ a.created_at|time:'H:i' }}</code></td>
          <td class="text-nowrap"><code>{{ a.created_by }}</code></td>
          <td class="text-nowrap"><code>{{ a.get_authority_display }}</code></td>
          <td class="text-nowrap text-end"><code>{{ a.age }}</code></td>
          <td class="text-nowrap text-end"><code>{{ a.get_rating_display }}</code></td>
          <td width="100%"><code>{{ a.comment }}</code></td>
        </tr>
      {% endfor %}</tbody>
    </table>
    <div class="row">
      <div class="col-sm">
        {% if user.is_superuser %}<a href="/admin/photolith/individual/{{ ind_data.id }}/change/" target="_blank" class="btn btn-outline-danger">
          {% translate 'Administration' %}
        </a>{% endif %}
      </div>
      <div class="col-sm text-end">
        <a href="/annotate/{{ ind_data.id }}/" class="btn btn-info">
          {% if read_only %}{% translate 'View annotations' %}{% else %}{% translate 'View/add annotation' %}{% endif %}
        </a>
      </div>
    </div>
  </div>  
</div>
