# Set a unique secure key for this host
APP_SECRET_KEY=django-insecure-REPLACEME

# Space separated list of potential hostnames, the first will be considered the canonical version
APP_ALLOWED_HOSTS="photolith.website.org www.photolith.website.org"

# By default a .sqlite database will be used, to use postgresql configure the following options
#APP_DB_ENGINE=django.db.backends.postgresql
#APP_DB_DATABASE=photolith_db
#APP_DB_USER=photolith_user
#APP_DB_PASSWORD=photolith_pw
#APP_DB_HOST=db
#APP_DB_PORT=5432

# Configure API adapter to use
#APP_CS_METADATA_API="HafroMetadataApi"
#APP_CS_METADATA_BASE="https://abcdefg.eu-central-1.awsapprunner.com/"

# Disable password validation, so overly guessable passwords can be used in development
#APP_AUTH_PASSWORD_VALIDATORS=""
