{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Individual Search" %}{% endblock title %}
{% block contentclass %}container-fluid{% endblock contentclass %}
{% block content %}

<button class="btn btn-outline-dark float-end m-3" type="button" title="{% translate 'Filter results' %}" data-bs-toggle="offcanvas" data-bs-target="#filter-offcanvas" aria-controls="filter-offcanvas">
  <!-- https://icons.getbootstrap.com/icons/funnel/ -->
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
  </svg>
</button>

{% if perms.photolith.create_project and qs and not project %}<a href="{% url 'project:create' %}?{{qs}}" class="btn btn-outline-dark float-end m-3 me-0" title="{% translate 'Save as project' %}">
  {% translate 'Save as project' %}
</a>{% endif %}

{% if project %}<h2>
  {% translate "Results for project" %}
  <span>{{ project.name }}</span>
</h2>{% endif %}

{% if qs %}
  <table class="table ph-search-table">
  </table>
{% else %}
  <div class="p-5 text-center container rounded" style="background: #eee; margin-top: 5rem">
    {% translate "Select terms to filter by using filter menu" %}
  </div>
{% endif %}

<form action="" method="get" class="filter-form offcanvas {% if not qs %}show{% endif %} offcanvas-end" tabindex="-1" id="filter-offcanvas" aria-labelledby="filter-label">
  {{ meta_fields|json_script:"meta_fields" }}
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="filter-label">{% translate "Filter results" %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
  </div>
  <div class="offcanvas-header">
      <button type="submit" class="btn btn-info">{% translate "Apply" %}</button>
      <a href="?{% if request.GET.project %}project={{ request.GET.project }}{% endif %}" class="btn btn-outline-secondary">{% translate "Clear filters" %}</a>
  </div>
</form>

{% endblock content %}
