{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="card bg-light bg-gradient">
  <div class="card-body">
    <h4 class="card-title">{% translate 'Log in' %}</h4>

    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">

      {{ form|crispy }}

      <button type="submit" class="btn btn-info btn-block">{% translate 'Log in' %}</button>
      <a href="/accounts/password_reset/" class="btn btn-outline-dark btn-block">{% translate 'Forgotten your password or username?' %}</a>
      <a href="{% url 'auth:signup' %}" class="btn btn-outline-dark btn-block">{% translate 'Sign up' %}</a>
    </form>
  </div>
</div>
{% endblock %}
