{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Access denied" %}{% endblock %}
{% comment %}
Can test with:
ACCOUNT_RATE_LIMITS = {
   # Request a password reset, global rate limit per IP
    "reset_password": "1/h",
}
{% endcomment %}

{% block content %}
<h1>{% translate "Access denied" %}</h1>

<p>{% translate "You are not allowed to visit this page" %}</p>

{% include "registration/snippet_logout.html" %}
<a href="/" class="btn btn-outline-dark btn-block">{% translate "Home" %}</a>
{% endblock content %}
