{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/app.css" rel="stylesheet">
    <script defer src="/static/@popperjs/core/dist/umd/popper.min.js"></script>
    <script defer src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script defer src="/static/app.js"></script>
    <script>
      window.addEventListener('DOMContentLoaded', function() { {% autoescape off %}{{ settings.CLIENTSIDE_CONFIG }}{% endautoescape %} });
    </script>

    <title>{% block title %}{% translate "Photolith" %}{% endblock title %} | {% translate "Photolith" %}</title>
  </head>
  <body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom bg-dark text-white">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-white text-decoration-none">
        Photolith
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'ingest:index' %}" class="nav-link px-2 text-white">{% translate "Ingest" %}</a></li>
      </ul>

      <div class="col-md-3 text-end">
        {% if user.is_authenticated %}
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle me-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <!-- https://icons.getbootstrap.com/icons/person-circle/ -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
              <span class="ms-1">{{ user.username }}</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              {% if user.is_superuser %}<li><a class="dropdown-item" href="{% url 'admin:index' %}">{% translate 'Site administration' %}</a></li>{% endif %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'password_change' %}">{% translate 'Change password' %}</a></li>
              <li>
                <form action="/accounts/logout/" method="post" id="logout_form">
                  {% csrf_token %}
                  <input type="submit" value="Log out" class="btn btn-link dropdown-item" style="border-radius:0" />
                </form>
              </li>
            </ul>
          </div>
        {% else %}
          <a href="/accounts/login/" type="button" class="btn btn-outline-primary me-2">{% translate "Login" %}</a>
        {% endif %}
      </div>
    </header>
    <div id="alert-container" class="position-absolute end-0 mx-2 my-2" style="z-index: 1;"></div>
    {% block pre_content %}
    {% endblock pre_content %}
    <main class="mt-4 {% block contentclass %}container{% endblock contentclass %}">
    {% block content %}
    {% endblock content %}
    </main>
  </body>
</html>
