{% load i18n %}
{% load get_format %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" data-thousand-separator="{% get_format "THOUSAND_SEPARATOR" %}" data-decimal-separator="{% get_format "DECIMAL_SEPARATOR" %}" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'tom-select/dist/css/tom-select.bootstrap5.css' %}" rel="stylesheet" >
    <link href="{% static 'datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" >
    <link href="{% static 'app.css' %}" rel="stylesheet">
    <script defer src="{% static '@popperjs/core/dist/umd/popper.min.js' %}"></script>
    <script defer src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script defer src="{% static 'app.js' %}"></script>
    {% include "snippet/cs_config.html" %}

    <title>{% block title %}{% translate "Photolith" %}{% endblock title %} | {% translate "Photolith" %}</title>
  </head>
  <body class="h-100 d-flex flex-column">

  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <span class="me-lg-5"><span class="text-info fw-bold">Ph</span><span class="text-white">otolith</span></span>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'home:index' %}" class="nav-link px-2 {% if request.resolver_match.namespace == 'home' %}text-secondary{% else %}text-white{% endif %}">{% translate "Home" %}</a></li>
          {% if perms.photolith.add_individual %}<li><a href="{% url 'ingest:index' %}" class="nav-link px-2 {% if request.resolver_match.namespace == 'ingest' %}text-secondary{% else %}text-white{% endif %}">{% translate "Ingest" %}</a></li>{% endif %}
          {% if perms.photolith.view_annotation %}<li><a href="{% url 'search:index' %}" class="nav-link px-2 {% if request.resolver_match.namespace == 'search' %}text-secondary{% else %}text-white{% endif %}">{% translate "Search" %}</a></li>{% endif %}
          <li><a href="{% url 'project:index' %}" class="nav-link px-2 {% if request.resolver_match.namespace == 'project' %}text-secondary{% else %}text-white{% endif %}">{% translate "Projects" %}</a></li>
          <li><a href="/doc/{{ LANGUAGE_CODE|slice:':2' }}" class="nav-link px-2 text-white">{% translate "Documentation" %}</a></li>
        </ul>

        <div class="text-end">
          <div class="dropdown">
            <button class="btn btn-outline-info dropdown-toggle me-2" type="button" id="header-menu" data-bs-toggle="dropdown" aria-expanded="false">
              <!-- https://icons.getbootstrap.com/icons/person-circle/ -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
              {% if user.is_authenticated %}
                <span class="ms-1">{{ user.username }}</span>
              {% endif%}
            </button>
            <ul class="dropdown-menu" aria-labelledby="header-menu">
              <li><span class="dropdown-item disabled" style="font-size: 75%">v. {{ settings.CS_GIT_REVISION }}</span></li>
              <li><a class="dropdown-item" href="https://github.com/photolith/photolith/issues">{% translate 'Issues' %}</a></li>
              {% if user.is_superuser %}<li><a class="dropdown-item" href="{% url 'admin:index' %}">{% translate 'Site administration' %}</a></li>{% endif %}

              <li><hr class="dropdown-divider"></li>
              {% get_available_languages as LANGUAGES %}
              {% for lang in LANGUAGES %}
                <li><form action="/i18n/setlang/" method="post">{% csrf_token %}
                  <input type="hidden" name="language" value="{{ lang.0 }}" />
                  <input type="submit" name="submit" value="{{ lang.1 }}" class="btn btn-link dropdown-item" style="border-radius:0" />
                </form></li>
              {% endfor %}

              <li><hr class="dropdown-divider"></li>
              {% include "registration/snippet_menu.html" %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
    <div id="alert-container" class="position-absolute end-0 mx-2 my-2" style="z-index: 1;"></div>
    {% block pre_content %}
    {% endblock pre_content %}
    <main class="flex-grow-1 my-1 {% block contentclass %}container{% endblock contentclass %}">
    {% block content %}
    {% endblock content %}
    </main>
  </body>
</html>
