{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load verbose_name %}
{% block title %}{% translate "All projects" %}{% endblock title %}
{% block contentclass %}container{% endblock contentclass %}
{% block content %}

{% regroup object_list by is_open as open_closed_groups %}
{% for is_open, object_group in open_closed_groups %}
{% if is_open %}
  <h2 class="mt-3">{% translate 'Open projects' %}</h2>

  <table class="table ph-project-table">
    <thead>
      <th class="text-nowrap">{{ object_model|verbose_name:"name" }}</th>
      <th class="text-nowrap">{{ object_model|verbose_name:"team" }}</th>
      <th class="text-nowrap">{{ object_model|verbose_name:"date_end" }}</th>
      <th class="text-nowrap">{% translate "Individuals annotated" %}</th>
      <th></th>
    </thead>
    <tbody>
      {% for object in object_group %}{% if object.team_member or object.created_by == request.user %}
        <tr>
          <td>{{object.name}}</td>
          <td>{{object.team.name}}</td>
          <td>{{object.date_end}}</td>
          <td>{{object.num_annotations}} / {{object.num_individuals}}</td>
          <td>
            {% if object.team_member %}
              <a href="{% url 'annotate:start' %}?project={{ object.id }}" class="btn btn-info">{% translate "Annotate project" %}</a>
            {% elif object.created_by == request.user %}
              <a href="{% url 'search:index' %}?project={{ object.id }}" class="btn btn-info">{% translate "View results" %}</a>
            {% endif %}

            {% if object.created_by == request.user %}
              <a href="{% url 'project:update' object.id %}" class="btn btn-info float-end">{% translate "Edit" %}</a>
            {% endif %}
          </td>
        </tr>
      {% endif %}{% endfor %}
    </tbody>
  </table>
{% else %}
  <h2 class="mt-5">{% translate 'Closed projects' %}</h2>

  <table class="table ph-project-table">
    <thead>
      <th class="text-nowrap">{{ object_model|verbose_name:"name" }}</th>
      <th class="text-nowrap">{{ object_model|verbose_name:"team" }}</th>
      <th class="text-nowrap">{{ object_model|verbose_name:"date_end" }}</th>
      <th></th>
    </thead>
    <tbody>
      {% for object in object_group %}{% if object.team_member or object.created_by == request.user %}
        <tr>
          <td>{{object.name}}</td>
          <td>{{object.team.name}}</td>
          <td>{{object.date_end}}</td>
          <td>
            <a href="{% url 'search:index' %}?project={{ object.id }}" class="btn btn-info">{% translate "View results" %}</a>

            {% if object.created_by == request.user %}
              <a href="{% url 'project:update' object.id %}" class="btn btn-info float-end">{% translate "Edit" %}</a>
            {% endif %}
          </td>
        </tr>
      {% endif %}{% endfor %}
    </tbody>
  </table>
{% endif %}
{% endfor %}


{% if perms.photolith.add_project  %}
  <p><a href="{% url 'search:index' %}">{% translate "Create a project by <kbd>searching</kbd>." %}</a>{% translate "Then click <kbd>Save as project</kbd> in the top right corner." %}</p>
{% endif %}

{% endblock content %}
