{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="row">


<div class="col-lg my-3">
  <p>{% translate 'Welcome to Photolith, the otolith image storage and annotation software.' %}</p>

  {% if not user.is_authenticated %}
    <div class="m-4 text-center">
      <a href="{% url 'login' %}" class="btn btn-info mx-2">{% translate 'Log in' %}</a>
      <a href="{% url 'auth:signup' %}" class="btn btn-info mx-2">{% translate 'Sign up' %}</a>
    </div>
  {% endif %}

  {% if projects %}<div class="card bg-light bg-gradient my-4">
    <h5 class="card-header">{% translate 'Projects' %}</h5>
    <div class="card-body">
      {% regroup projects by is_open as open_closed_groups %}
      {% for is_open, object_group in open_closed_groups %}
        {% if is_open %}
          <p>{% translate 'Continue annotating in projects you are part of' %}:</p>
          <ul>
            {% for object in object_group %}{% if object.team_member %}
              <li><a href="{% url 'annotate:start' %}?project={{ object.id }}">{{object.name}}</a></li>
            {% endif %}{% endfor %}
          </ul>
        {% else %}
          <a href="{% url 'project:index' %}" class="card-link">{% translate "View previous project results." %}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>{% endif %}

  {% if perms.photolith.add_individual %}<div class="card bg-light bg-gradient my-4">
    <h5 class="card-header">{% translate 'Ingest' %}</h5>
    <div class="card-body">
      <a href="{% url 'ingest:index' %}" class="card-link">{% translate "Upload new images." %}</a>
    </div>
  </div>{% endif %}

  {% if perms.photolith.view_annotation %}<div class="card bg-light bg-gradient my-4">
    <h5 class="card-header">{% translate 'General annotation.' %}</h5>
    <div class="card-body">
      <a href="{% url 'search:index' %}" class="card-link">{% translate "Search for existing otoliths and annotate." %}</a>
    </div>
  </div>{% endif %}

  <div class="card bg-light bg-gradient my-0">
    <h5 class="card-header">{% translate 'Guides' %}</h5>
    <div class="card-body">
      <ul>
        <li><a href="/doc/{{ LANGUAGE_CODE|slice:':2' }}/ingest.html">{% translate 'Image Ingest: Adding images to Photolith.' %}</a></li>
        <li><a href="/doc/{{ LANGUAGE_CODE|slice:':2' }}/annotate.html">{% translate 'Viewing & editing annotations.' %}</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-lg my-3">
  <div class="ph-viewer ph-annotate mb-2"
       style="height: max(400px, 100%); background: black;"
       data-src="/static/homepage-otolith.jpeg"
       data-sync-form="form#demo-polys"
       >
    {% include "../snippet/viewer.html" %}
    <div class="scale d-none" data-mm-to-px="200"><div class="inner"><span>0.1mm</span></div></div>
  </div>
  <form class="d-none" id="demo-polys">
    <input type="hidden" name="axis_poly:0" data-stroke="230, 159, 0" value="[[453,457],[429,452],[381,444],[325,434],[257,422],[214,414],[177,408],[122,398],[106,395]]">
    <input type="hidden" name="axis_poly:1" data-stroke="0, 158, 115" value="[[647,125],[627,114],[606,102],[578,88],[560,78],[549,71],[546,70]]">
    <input type="hidden" name="axis_poly:2" data-stroke="240, 228, 66" value="[[289,257],[348,218],[389,192],[421,170],[439,159],[453,150],[460,145],[465,142]]">
  </form>

</div>

</div>
{% endblock content %}
